<button type="button" class="btn ms-1 me-1 fw-bolder text-light secondary-button border-3 button" data-bs-toggle="modal"
  data-bs-target="#confirmation-modal" onclick="setDeleteButton('delete-club-button', '{{teamInfo.tla}}')">
  Delete club
</button>