<div class="modal fade" id="confirmation-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border-light">
      <div class="modal-header darker-blue-bg text-light border-0">
        <h5 class="modal-title fw-bolder boder-0">Delete club</h5>
      </div>
      <div class="modal-body dark-blue-bg text-light">
        <p>Are you sure you want to delete this club?</p>
      </div>
      <div class="modal-footer darker-blue-bg text-light border-0">
        <button type="button" class="btn fw-bolder text-light secondary-button border-3 paragraph"
          data-bs-dismiss="modal">Cancel</button>
        <button id="delete-club-button" type="button" class="btn fw-bolder text-light main-button border-3 paragraph"
          data-bs-dismiss="modal" data-bs-target="#notification-modal" data-bs-toggle="modal">Delete</button>
      </div>
    </div>
  </div>
</div>