<button type="button" class="btn ms-1 me-1 fw-bolder text-light secondary-button border-3 paragraph"
    data-bs-toggle="modal" data-bs-target="#confirmation-reset-db-modal">
    Reset clubs
</button>
