<div class="modal fade" id="notification-reset-db-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border-light">
      <div class="modal-header darker-blue-bg text-light border-0">
        <h5 class="modal-title fw-bolder boder-0">Database reseted</h5>
      </div>
      <div class="modal-body dark-blue-bg text-light">
        <p>The database has been successfully reseted</p>
      </div>
      <div class="modal-footer darker-blue-bg text-light border-0">
        <button type="button" class="btn fw-bolder text-light main-button border-3 paragraph" data-bs-dismiss="modal"
          onclick="redirect()">Ok</button>
      </div>
    </div>
  </div>
</div>