<div class="modal fade" id="confirmation-discard-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border-light">
      <div class="modal-header darker-blue-bg text-light border-0">
        <h5 class="modal-title fw-bolder boder-0">Discard changes</h5>
      </div>
      <div class="modal-body dark-blue-bg text-light">
        <p>Are you sure you want to discard the changes?</p>
      </div>
      <div class="modal-footer darker-blue-bg text-light border-0">
        <button type="button" class="btn fw-bolder text-light secondary-button border-3 paragraph"
          data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn fw-bolder text-light main-button border-3 paragraph" data-bs-dismiss="modal"
          onclick="redirect('/')">Discard</button>
      </div>
    </div>
  </div>
</div>